# Export all names
exportPattern(".")

# put in a namespace for the C files
# without this line the C functions can't be found
# which is a problem!
useDynLib('surv2sample')

# Import all packages listed as Imports or Depends
import(
  survival
)
